<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <style>
         input[type = submit] {
            background-color: #012B39;
            border: none;
            text-decoration: none;
            color: white;
            padding: 20px 40px;
            margin: 20px 20px;
            cursor: pointer;
         }
    </style>
    <meta charset="UTF-8">
    <title>Hello world</title>
    <script src="{{url_for('static', filename='main.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>
<div class="container2">
    {% for att in listPassword %}
    <p>{{att}}</p>
    {% endfor %}
</div>
</body>
</html>